<!-- Page wrapper start -->
<div class="page-wrapper">
    <!-- Page wrapper header start -->
    <header class="page-wrapper-header">
        <!--<div class="container">-->
        <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-4">
                <div class="site-logo clearfix"><a href="javascript:void(0)"><img src="/images/logo.png"
                                                                                  alt="Prysmian Group"></a></div>
            </div>
            <div class="col-sm-6">
                <div class="site-title clearfix">Maintenance Work Order Application</div>
            </div>
            <div class="col-sm-1">
                    <span class="text-right" style="position: absolute; right: 5px; cursor: pointer; z-index: 999">
                        <a class="btn" ng-click="Logout()">
                            <img src="/images/logout.png" alt="logout">
                        </a>
                    </span>
            </div>
        </div>
        <!--</div>-->
    </header>
    <!-- Page wrapper header end -->
    <!-- Page wrapper container start -->
    <div class="page-wrapper-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Main container start -->
                    <div class="main-container clearfix">
                        <div class="col-sm-12 text-right"><a ng-click="redirectLoc('system_settings')"
                                                             class="btn btn-primary">Back</a> <a
                                ng-click="redirectLoc('create_class')" class="btn btn-primary">Create Class</a></div>
                        <h1 class="col-sm-18">Class List </h1>

                        <!-- Change password form start -->
                        <div class="table-responsive">
                            <table class="table">
                                <!--<caption>Responsive Table Layout</caption>-->
                                <thead>
                                <tr>
                                    <th>Class Name</th>
                                    <th>Facilities</th>
                                    <!--<th>Status</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="class in classes">
                                    <td>{{class.class_name}}</td>
                                    <td>{{showFacility(class.facilities)}}</td>
                                    <!-- <td>{{showStatus(class.status)}}</td>-->
                                </tr>
                                </tbody>

                            </table>
                        </div>
                        <!-- Change password form end -->
                    </div>
                    <!-- Main container end -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page wrapper container end -->
    <!-- Page wrapper footer start -->
    <footer class="page-wrapper-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="site-copy-rights clearfix">&copy; 2016 Prysmian Group. All Rights Reserved.</div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Page wrapper footer end -->
</div>
<!-- Page wrapper end -->