<!-- Page wrapper start -->
<div class="page-wrapper hidden-print" print-hide>
    <!-- Page wrapper header start -->
    <header class="page-wrapper-header">
        <!--<div class="container">-->
        <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-4">
                <div class="site-logo clearfix"><a href="javascript:void(0)"><img src="/images/logo.png"
                                                                                  alt="Prysmian Group"></a></div>
            </div>
            <div class="col-sm-6">
                <div class="site-title clearfix">Maintenance Work Order Application</div>
            </div>
            <div class="col-sm-1">
                    <span class="text-right" style="position: absolute; right: 5px; cursor: pointer; z-index: 999">
                        <a class="btn" ng-click="Logout()">
                            <img src="/images/logout.png" alt="logout">
                        </a>
                    </span>
            </div>
        </div>
        <!--</div>-->
    </header>
    <!-- Page wrapper header end -->
    <!-- Page wrapper container start -->
    <div class="page-wrapper-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Main container start -->
                    <div class="main-container clearfix">
                        <div class="col-sm-12 text-right"><a ng-click="redirectBack('dashboard')"
                                                             class="btn btn-primary">Back</a></div>
                        <h1>Search Work Order</h1>
                        <!-- Search work order form start -->
                        <form class="form-horizontal clearfix">
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-sm-6 control-label">Work Order: #</label>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control"
                                                           ng-model="workOrder.workorder_number">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-sm-6 control-label">Requestor Name:</label>
                                                <div class="col-sm-6">
                                                    <select class="form-control" ng-model="workOrder.workorder_creator">
                                                        <option ng-repeat="requestor in requestors"
                                                                value="{{requestor._id}}">{{requestor.username}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-sm-5 contol-label">Work Order Date:</label>
                                                <div class="col-sm-7">
                                                    <md-content layout-padding>
                                                        <div layout-gt-xs="row">
                                                            <div flex-gt-xs>
                                                                <md-datepicker name="created_on"
                                                                               ng-model="workOrder.created_on_from"
                                                                               md-placeholder="Enter date"
                                                                ></md-datepicker>
                                                            </div>

                                                        </div>
                                                    </md-content>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label"
                                                       style="padding-left: 76px">To:</label>
                                                <div class="col-sm-7">
                                                    <md-content layout-padding>
                                                        <div layout-gt-xs="row">
                                                            <div flex-gt-xs>
                                                                <md-datepicker name="wo_pm_date"
                                                                               ng-model="workOrder.created_on_to"
                                                                               md-placeholder="Enter date"
                                                                ></md-datepicker>
                                                            </div>

                                                        </div>
                                                    </md-content>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label">Work Order Completion
                                                    Date:</label>
                                                <div class="col-sm-7">
                                                    <md-content layout-padding>
                                                        <div layout-gt-xs="row">
                                                            <div flex-gt-xs>
                                                                <md-datepicker name=""

                                                                               ng-model="workOrder.wo_datecomplete_from"
                                                                               md-placeholder="Enter date"
                                                                ></md-datepicker>
                                                            </div>

                                                        </div>
                                                    </md-content>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label "
                                                       style="padding-left: 76px">To:</label>
                                                <div class="col-sm-7">
                                                    <md-content layout-padding>
                                                        <div layout-gt-xs="row">
                                                            <div flex-gt-xs>
                                                                <md-datepicker name="wo_datecomplete"
                                                                               ng-model="workOrder.wo_datecomplete_to"
                                                                               md-placeholder="Enter date"
                                                                ></md-datepicker>
                                                            </div>

                                                        </div>
                                                    </md-content>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-sm-6 control-label">Category:</label>
                                                <div class="col-sm-6">
                                                    <select class="form-control"
                                                            ng-model="workOrder.workorder_category">
                                                        <option ng-repeat="category in categories"
                                                                value="{{category._id}}">{{category.category_name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-sm-6 control-label">Equipment:</label>
                                                <div class="col-sm-6">
                                                    <select class="form-control"
                                                            ng-model="workOrder.workorder_equipment">
                                                        <option ng-repeat="equipment in equipments"
                                                                value="{{equipment._id}}">
                                                            {{equipment.equipment_name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label">Next PM Date:</label>
                                                <div class="col-sm-7">
                                                    <md-content layout-padding>
                                                        <div layout-gt-xs="row">
                                                            <div flex-gt-xs>
                                                                <md-datepicker name="wo_pm_date"
                                                                               ng-model="workOrder.wo_pm_date_from"
                                                                               md-placeholder="Enter date"
                                                                ></md-datepicker>
                                                            </div>

                                                        </div>
                                                    </md-content>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label"
                                                       style="padding-left: 76px">To:</label>
                                                <div class="col-sm-7">
                                                    <md-content layout-padding>
                                                        <div layout-gt-xs="row">
                                                            <div flex-gt-xs>
                                                                <md-datepicker name="wo_pm_date"
                                                                               ng-model="workOrder.wo_pm_date_to"
                                                                               md-placeholder="Enter date"
                                                                ></md-datepicker>
                                                            </div>

                                                        </div>
                                                    </md-content>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Skill:</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" ng-model="workOrder.workorder_skill">
                                                <option ng-repeat="skill in skills" value="{{skill._id}}">
                                                    {{skill.skill_name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Technician:</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" ng-model="workOrder.workorder_technician">
                                                <option ng-repeat="technician in technicians"
                                                        value="{{technician._id}}">{{technician.username}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Status:</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" ng-model="workOrder.status">
                                                <option ng-repeat="status in statuses" value="{{status.status_number}}">
                                                    {{status.status_name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Facility:<br><br></label>
                                        <div class="col-sm-6">
                                            <select class="form-control" ng-model="workOrder.workorder_facility">
                                                <option ng-repeat="facility in facilities"
                                                        value="{{facility.facility_number}}">{{facility.facility_name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Class:</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" ng-model="workOrder.workorder_class">
                                                <option ng-repeat="clas in classes" value="{{clas._id}}">
                                                    {{clas.class_name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">PM Task: #</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" ng-model="workOrder.workorder_PM">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Priority:</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" ng-model="workOrder.workorder_priority">
                                                <option ng-repeat="priority in priorities" value="{{priority._id}}">
                                                    {{priority.priority_name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center clearfix">
                                <p>
                                    <button type="submit" ng-click="ListWorkOrders()" class="btn btn-primary">Search
                                    </button>
                                    <button type="reset" class="btn btn-primary" ng-click="clearForm()">Clear</button>
                                </p>
                            </div>
                        </form>
                        <!-- Search work order form end -->
                        <hr>
                        <!-- Search results start -->
                        <div class="clearfix">
                            <h2>Search Results</h2>
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Work Order</th>
                                    <th>Work Order Description</th>
                                    <th>Equipment</th>
                                    <th>Technicain</th>
                                    <th>Status</th>
                                    <th>View</th>
                                    <th>Print</th>
                                    <th>Edit</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="workorder in workOrders">
                                    <td>{{showWithzeros(workorder.workorder_number)}}</td>
                                    <td>{{workorder.workorder_description}}</td>
                                    <td>{{showEquipment(workorder.workorder_equipment)}}</td>
                                    <td>{{showtechnician(workorder.workorder_technician)}}</td>
                                    <td>{{showStatus(workorder.status)}}</td>
                                    <td><i class="fa fa-eye" ng-click="viewWorkOrder(workorder.workorder_number)"></i>
                                    </td>
                                    <td><i class="fa fa-print" ng-click="goPrint(workorder.workorder_number)"></i>
                                    </td>
                                    <td><i class="fa fa-edit" ng-click="editWorkOrder(workorder.workorder_number)"
                                           ng-show="showEdit(workorder)"></i>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- Search results end -->
                    </div>
                    <!-- Main container end -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page wrapper container end -->
    <!-- Page wrapper footer start -->
    <footer class="page-wrapper-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="site-copy-rights clearfix">&copy; <!--<script>var d = new Date(); document.write(d.getFullYear());</script>--> Prysmian Group. All Rights Reserved.</div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Page wrapper footer end -->
</div>
<!-- Page wrapper end -->
