<!-- Page wrapper start -->
<div class="page-wrapper">
    <!-- Page wrapper header start -->
    <header class="page-wrapper-header">
        <!--<div class="container">-->
        <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-4">
                <div class="site-logo clearfix"><a href="javascript:void(0)"><img src="/images/logo.png"
                                                                                  alt="Prysmian Group"></a></div>
            </div>
            <div class="col-sm-6">
                <div class="site-title clearfix">Maintenance Work Order Application</div>
            </div>
            <div class="col-sm-1">
                    <span class="text-right" style="position: absolute; right: 5px; cursor: pointer; z-index: 999">
                        <a class="btn" ng-click="Logout()">
                            <img src="/images/logout.png" alt="logout">
                        </a>
                    </span>
            </div>
        </div>
        <!--</div>-->
    </header>

    <!-- Page wrapper header end -->
    <!-- Page wrapper container start -->
    <div class="page-wrapper-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Main container start -->
                    <div class="main-container clearfix">
                        <div class="col-sm-12 text-right"><a ng-click="redirectBack('reports_dashboard')"
                                                             class="btn btn-primary">Back</a>
                        </div>
                        <h1>Get Report - Hour By Equipment</h1>
                        <!-- Change password form start -->
                        <form name="ReportForm" class="form-horizontal clearfix" method="post" action="/report">
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-4">
                                    <div class="form-group">
                                        <label class="col-sm-5 control-label">From Date:</label>
                                        <div class="col-sm-7">
                                            <md-content layout-padding>
                                                <div layout-gt-xs="row">
                                                    <div flex-gt-xs>
                                                        <md-datepicker onkeydown="return false" ng-model="datefrom"
                                                                       md-max-date="maxDate"
                                                                       md-placeholder="Enter date"
                                                                       ng-disabled="disableDateCompleted"
                                                                       ng-required="true"></md-datepicker>
                                                        <input type="hidden" name="wo_datefrom"
                                                               ng-model="workOrder.wo_datefrom"
                                                               value="{{workOrder.wo_datefrom}}" required>
                                                    </div>

                                                </div>
                                            </md-content>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-5 control-label">To Date:</label>
                                        <div class="col-sm-7">
                                            <md-content layout-padding>
                                                <div layout-gt-xs="row">
                                                    <div flex-gt-xs>
                                                        <md-datepicker onkeydown="return false" md-min-date="minDate"
                                                                       md-max-date="maxDate"
                                                                       ng-model="dateto"
                                                                       md-placeholder="Enter date"
                                                                       ng-disabled="disableDateCompleted"></md-datepicker>
                                                        <input type="hidden" name="wo_dateto"
                                                               ng-model="workOrder.wo_dateto"
                                                               value="{{workOrder.wo_dateto}}" required>
                                                    </div>

                                                </div>
                                            </md-content>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Facility:</label>
                                        <div class="col-sm-6">
                                            <select required class="form-control" ng-model="facility"
                                                    name="facility" required>
                                                <!--<option value="0">All</option>-->
                                                <option ng-repeat="facilit in facilities"
                                                        value="{{facilit.facility_number}}">{{facilit.facility_name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--<div class="form-group">
                                        <label class="col-sm-6 control-label">Work Order Types:</label>
                                        <div class="col-sm-6">
                                            <select required class="form-control" name="workorder_type" required>
                                                <option value="0">All</option>
                                                <option value="1">Normal WorkOrder</option>
                                                <option value="2">PM Work Order</option>
                                            </select>
                                        </div>
                                    </div>-->
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Categories:</label>
                                        <div class="col-sm-6">
                                            <select required class="form-control" name="category" required>
                                                <option value="0">All</option>
                                                <option ng-repeat="category in categories"
                                                        value="{{category._id}}">{{category.category_name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Equipment:</label>
                                        <div class="col-sm-6">
                                            <select class="form-control"
                                                    name="equipment" required>
                                                <option value="0">All</option>
                                                <option ng-repeat="equipment in equipments" value="{{equipment._id}}">
                                                    {{equipment.equipment_name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="text-center clearfix">
                                <p>
                                    <button type="submit" ng-disabled="submitDisable" class="btn btn-primary">Get Report
                                    </button>
                                </p>
                            </div>
                        </form>
                        <!-- Change password form end -->
                    </div>
                    <!-- Main container end -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page wrapper container end -->
    <!-- Page wrapper footer start -->
    <footer class="page-wrapper-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="site-copy-rights clearfix">&copy; 2016 Prysmian Group. All Rights Reserved.</div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Page wrapper footer end -->
</div>
<!-- Page wrapper end -->