<!-- Page wrapper start -->
<div class="page-wrapper">
    <!-- Page wrapper header start -->
    <header class="page-wrapper-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="site-logo clearfix"><a ng-click="redirectLoc('dashboard')"><img
                            ng-click="redirectLoc('dashboard')" src="/images/logo.png" alt="Prysmian Group"></a></div>
                </div>
                <div class="col-sm-8">
                    <div class="site-title clearfix">Maintenance Work Order Application</div>
                </div>
            </div>
        </div>
    </header>
    <span class="text-right" style="position: absolute; right: 5px; cursor: pointer; z-index: 999"><a class="btn" ng-click="Logout()">logout</a></span>
    <!-- Page wrapper header end -->
    <!-- Page wrapper container start -->
    <div class="page-wrapper-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Main container start -->
                    <div class="main-container clearfix">
                        <div class="col-sm-12 text-right"><a ng-click="redirectLoc('dashboard')"
                                                             class="btn btn-primary">Back</a></div>
                        <h1>{{workOrderTitle}}</h1>
                        <!-- Edit work order form start -->
                        <form class="form-horizontal clearfix" name="CreateWorkOrderForm">
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-sm-6 control-label">Work Order: #</label>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" value="{{workorder_number}}"
                                                           readonly="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-sm-6 control-label">Requestor Name:</label>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" readonly=""
                                                           value="{{requestor_name}}">
                                                    <input type="hidden" class="form-control" readonly=""
                                                           ng-model="workOrder.creator">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-sm-6 control-label">Work Order Date:</label>
                                                <div class="col-sm-6">
                                                    <input type="date" class="form-control" readonly=""
                                                           value="{{today | date}}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-sm-6 control-label">Facility:</label>
                                                <div class="col-sm-6">
                                                    <select class="form-control" ng-disabled="disableFacility"
                                                            ng-model="workOrder.workorder_facility"
                                                            name="workorder_facility"
                                                            ng-options='facility.facility_number as facility.facility_name for facility in facilities'>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-sm-6 control-label">Category:</label>
                                                <div class="col-sm-6">
                                                    <select class="form-control" ng-disabled="disableCategory"
                                                            ng-model="workOrder.workorder_category"
                                                            name="workorder_category"
                                                            ng-options='category._id as category.category_name for category in categories'>

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-6 control-label">Equipment:</label>
                                                <div class="col-sm-6">
                                                    <select class="form-control" ng-disabled="disableEquipment"
                                                            ng-model="workOrder.workorder_equipment"
                                                            name="workorder_equipment">
                                                        <option ng-repeat="equipment in equipments"
                                                                value="{{equipment._id}}">{{equipment.equipment_name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-6 control-label">Priority:</label>
                                                <div class="col-sm-6">
                                                    <select class="form-control" ng-disabled="disablePriority"
                                                            ng-model="workOrder.workorder_priority"
                                                            name="workorder_priority">
                                                        <option ng-repeat="priority in priorities"
                                                                value="{{priority._id}}">{{priority.priority_name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6" ng-hide="showTechnician">
                                            <div class="form-group">
                                                <label class="col-sm-6 control-label">Equipment Cost:</label>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-6 control-label">Time Spent:</label>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-6 control-label">Date Completed:</label>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4" ng-hide="showTechnician">
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Skill:</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" disabled="">
                                                <option>--Select Skill--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Technician:</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" disabled="">
                                                <option>--Select Technician--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Status:</label>
                                        <div class="col-sm-6">
                                            <select class="form-control">
                                                <option>--Select Status--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Class:</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" disabled="">
                                                <option>--Select Class--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">PM Task: #</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" readonly="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Next PM Date:</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" readonly="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Frequency:</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" readonly="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Description of Issue:</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" rows="5" ng-model="workOrder.workorder_description"
                                              name="workorder_description" required></textarea>
                                </div>
                            </div>
                            <div class="form-group" ng-hide="showTechnician">
                                <label class="col-sm-2 control-label">Supervisor Comments:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" readonly="">
                                </div>
                            </div>
                            <div class="form-group" ng-hide="showTechnician">
                                <label class="col-sm-2 control-label">Action Taken:</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" rows="5"></textarea>
                                </div>
                            </div>
                            <div class="text-center clearfix">
                                <p>
                                    <button type="submit" class="btn btn-primary" ng-click="CreateWorkOrder()"
                                            ng-disabled="CreateWorkOrderForm.workorder_description.$dirty && CreateWorkOrderForm.workorder_description.$invalid">
                                        Save
                                    </button>
                                    <button type="button" class="btn btn-primary">Print</button>
                                </p>
                            </div>
                        </form>
                        <!-- Edit work order form end -->
                    </div>
                    <!-- Main container end -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page wrapper container end -->
    <!-- Page wrapper footer start -->
    <footer class="page-wrapper-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="site-copy-rights clearfix">&copy; <!--<script>var d = new Date(); document.write(d.getFullYear());</script>--> Prysmian Group. All Rights Reserved.</div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Page wrapper footer end -->
</div>
<!-- Page wrapper end -->