//@import "compass/css3";

// Variables
$defaultBgColor: #FFFFFF;
$defaultFontFamily: 'Open Sans Regular', Arial, Helvetica, sans-serif;
$defaultFontSize: 14px;
$defaultLineHeight: 22px;
$defaultTextColor: #565656;

$bgColor1: #F6F6F6;
$borderColor1: #E5E5E5;
$textColor1: #565656;
$bgColor2: #3C3C3C;
$borderColor2: #4D4D4D;
$textColor2: #D4D4D4;

$regularFont: 'Open Sans Regular';
$italicFont: 'Open Sans Italic';
$lightFont: 'Open Sans Light';
$lightItalicFont: 'Open Sans Light Italic';
$semiboldFont: 'Open Sans Semibold';
$semiboldItalicFont: 'Open Sans Semibold Italic';
$boldFont: 'Open Sans Bold';
$boldItalicFont: 'Open Sans Bold Italic';

$blackTextColor: #000000;

$headingColor1: #000000;

$h1MarginBottom: 20px;
$h1FontSize: 28px;
$h1LineHeight: 36px;

$h2MarginBottom: 15px;
$h2FontSize: 22px;
$h2LineHeight: 30px;

// Mixins
@mixin border-radius($topLeft, $topRight, $bottomRight, $bottomLeft) {
  -webkit-border-radius: $topLeft $topRight $bottomRight $bottomLeft;
  -moz-border-radius: $topLeft $topRight $bottomRight $bottomLeft;
  -ms-border-radius: $topLeft $topRight $bottomRight $bottomLeft;
  -o-border-radius: $topLeft $topRight $bottomRight $bottomLeft;
  border-radius: $topLeft $topRight $bottomRight $bottomLeft;
}
@mixin box-shadow($horizontal, $vertical, $blur, $spread, $color) {
  -webkit-box-shadow: $horizontal $vertical $blur $spread $color;
  -moz-box-shadow: $horizontal $vertical $blur $spread $color;
  -ms-box-shadow: $horizontal $vertical $blur $spread $color;
  -o-box-shadow: $horizontal $vertical $blur $spread $color;
  box-shadow: $horizontal $vertical $blur $spread $color;
}
@mixin text-shadow($horizontal, $vertical, $blur, $color) {
  -webkit-text-shadow: $horizontal $vertical $blur $color;
  -moz-text-shadow: $horizontal $vertical $blur $color;
  -ms-text-shadow: $horizontal $vertical $blur $color;
  -o-text-shadow: $horizontal $vertical $blur $color;
  text-shadow: $horizontal $vertical $blur $color;
}

/* Main styles */
* {
  outline: none !important;
}
body {
  background-color: $defaultBgColor;
  font-family: $defaultFontFamily;
  font-size: $defaultFontSize;
  line-height: $defaultLineHeight;
  font-weight: normal;
  font-style: normal;
  color: $defaultTextColor;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 0;
  font-family: $lightFont;
  strong {
    font-family: $semiboldFont;
    font-weight: normal;
  }
  em {
    font-family: $lightItalicFont;
    font-style: normal;
  }
  strong em, em strong {
    font-family: $semiboldItalicFont;
    font-weight: normal;
    font-style: normal;
  }
}
h1, .h1 {
  margin-bottom: $h1MarginBottom;
  font-size: $h1FontSize;
  line-height: $h1LineHeight;
}
h2, .h2 {
  margin-bottom: $h2MarginBottom;
  font-size: $h2FontSize;
  line-height: $h2LineHeight;
}
label {
  font-weight: normal;
  text-align: left !important;
}
label.text-right {
  text-align: right !important;
}
textarea {
  resize: vertical;
}
strong {
  font-family: $boldFont;
  font-weight: normal;
}
em {
  font-family: $italicFont;
  font-style: normal;
}
strong em, em strong {
  font-family: $boldItalicFont;
  font-weight: normal;
  font-style: normal;
}
table tr th {
  font-family: $semiboldFont;
  font-weight: normal;
}

/* Page styles */
.page-wrapper {
  position: relative;
  min-height: 559px;
}
.page-wrapper-header {
  background: url(../images/pattern1.png) repeat scroll center center;
  position: relative;
  @include box-shadow(0, 0, 10px, 0, #C3C3C3);
  .site-logo {
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: left;
  }
  .site-title {
    text-align: right;
    padding-top: 17px;
    padding-bottom: 17px;
  }
}
.page-wrapper-footer {
  background-color: $bgColor2;
  color: $textColor2;
  position: relative;
}
.page-wrapper-container {
  position: relative;
}
.main-container {
  padding-top: 30px;
  padding-bottom: 20px;
  position: relative;
  h1, .h1 {
    padding-bottom: 15px;
    border-bottom: 1px dashed $borderColor2;
    color: $headingColor1;
  }
  h2, .h2 {
    color: $headingColor1;
  }
}
/* Login page styles */
.login-page {
  padding-top: 50px;
  padding-bottom: 35px;
  position: relative;
  .site-logo {
    text-align: center;
  }
  .site-title {
    text-align: center;
  }
}
.login-form {
  max-width: 300px;
  background-color: $bgColor1;
  padding: 20px 30px 15px 30px;
  margin: 30px auto;
  border: 1px solid $borderColor1;
  position: relative;
  h2, .h2 {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dashed $borderColor1;
  }
  .btn {
    min-width: 100%;
  }
}
/* Inner page styles */
.parts-list-table {
  tr > td {
    vertical-align: middle !important;
  }
}

/* Menus styles */
/* Demo menu styles */
.demo-menu-nav {
  position: relative;
  .demo-menu-header {
    display: none;
    position: relative;
  }
  .demo-menu-container {
    position: relative;
  }
  .demo-menu {
    /*margin: 0;
    padding: 0;*/
    margin-bottom: 0;
    padding-left: 0;
    list-style: none outside none;
    position: relative;
    > li {
      margin-bottom: 15px;
      position: relative;
      > a {
        min-width: 100%;
        padding: 15px 15px;
        position: relative;
      }
    }
  }
}

/* Common styles  */
.site-logo {
  position: relative;
  a {
    display: inline-block;
    img {
      display: block;
    }
  }
}
.site-title {
  font-family: $lightFont;
  font-size: 24px;
  line-height: 32px;
  color: $blackTextColor;
  position: relative;
}
.site-copy-rights {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  position: relative;
}
.clear {
  width: 0;
  height: 0;
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
}

/* Bootstrap reset styles */
.btn {
  padding: 6px 30px;
}
.form-horizontal {
  .checkbox, .checkbox-inline,
  .radio, .radio-inline {
    padding-top: 8px;
  }
  .checkbox, .radio {
    min-height: 34px;
  }
}
footer{
  position:absolute !important;
  //position: fixed !important;
  bottom: -60px;
  width: 100%;
}

input.ng-valid {
  //border:1px solid lightgreen;
}

a.btn {
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 5px;
  margin-botton: 5px;
}

.form-control .form-group {
  font-size: 11px !important;
  input {
    border: 1px solid #000;
  }

}

input.ng-invalid {
  border: 1px solid #000;
}

.layout-gt-xs-row, .layout-padding, md-datepicker {
  padding: 0px;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* Re-applies the controls on :hover and :focus */
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;

}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: number-input;
}

.datepicker.dropdown-menu {
  width: 250px;
  height: 270px;
  button {
    outline: none;
    border: 0px;
  }
  tbody {
    height: 180px;
  }
  tbody button {
    padding: 6px;
  }
  &.datepicker-mode-1, &.datepicker-mode-2 {
    tbody button {
      height: 65px;
    }
  }
}

.timepicker.dropdown-menu {
  padding: 0 4px;
  button {
    outline: none;
    border: 0px;
  }
  tbody button {
    padding: 6px;
  }
}

@media print {
  #printThisElement {
    width: 800px;
    h1 {
      font-size: 20px;
      line-height: 30px;
      width: 100%;
    }
    .site-title {
      font-size: 20px;
      line-height: 30px;
    }
  }
  .page-wrapper-header, .page-wrapper-container {
    width: 100%;
  }
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
  .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
  .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
  .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
  .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
  .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
  .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
  .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
  .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
  .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
  .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
  .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    float: left;
  }
  .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    width: 100%;
  }
  .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11 {
    width: 91.66666667%;
  }
  .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10 {
    width: 83.33333333%;
  }
  .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9 {
    width: 75%;
  }
  .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8 {
    width: 66.66666667%;
  }
  .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7 {
    width: 58.33333333%;
  }
  .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6 {
    width: 50%;
  }
  .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5 {
    width: 41.66666667%;
  }
  .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4 {
    width: 33.33333333%;
  }
  .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3 {
    width: 25%;
  }
  .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2 {
    width: 16.66666667%;
  }
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1 {
    width: 8.33333333%;
  }
  .col-xs-pull-12, .col-sm-pull-12, .col-md-pull-12, .col-lg-pull-12 {
    right: 100%;
  }
  .col-xs-pull-11, .col-sm-pull-11, .col-md-pull-11, .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-xs-pull-10, .col-sm-pull-10, .col-md-pull-10, .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-xs-pull-9, .col-sm-pull-9, .col-md-pull-9, .col-lg-pull-9 {
    right: 75%;
  }
  .col-xs-pull-8, .col-sm-pull-8, .col-md-pull-8, .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-xs-pull-7, .col-sm-pull-7, .col-md-pull-7, .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-xs-pull-6, .col-sm-pull-6, .col-md-pull-6, .col-lg-pull-6 {
    right: 50%;
  }
  .col-xs-pull-5, .col-sm-pull-5, .col-md-pull-5, .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-xs-pull-4, .col-sm-pull-4, .col-md-pull-4, .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-xs-pull-3, .col-sm-pull-3, .col-md-pull-3, .col-lg-pull-3 {
    right: 25%;
  }
  .col-xs-pull-2, .col-sm-pull-2, .col-md-pull-2, .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-xs-pull-1, .col-sm-pull-1, .col-md-pull-1, .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-xs-pull-0, .col-sm-pull-0, .col-md-pull-0, .col-lg-pull-0 {
    right: auto;
  }
  .col-xs-push-12, .col-sm-push-12, .col-md-push-12, .col-lg-push-12 {
    left: 100%;
  }
  .col-xs-push-11, .col-sm-push-11, .col-md-push-11, .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-xs-push-10, .col-sm-push-10, .col-md-push-10, .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-xs-push-9, .col-sm-push-9, .col-md-push-9, .col-lg-push-9 {
    left: 75%;
  }
  .col-xs-push-8, .col-sm-push-8, .col-md-push-8, .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-xs-push-7, .col-sm-push-7, .col-md-push-7, .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-xs-push-6, .col-sm-push-6, .col-md-push-6, .col-lg-push-6 {
    left: 50%;
  }
  .col-xs-push-5, .col-sm-push-5, .col-md-push-5, .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-xs-push-4, .col-sm-push-4, .col-md-push-4, .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-xs-push-3, .col-sm-push-3, .col-md-push-3, .col-lg-push-3 {
    left: 25%;
  }
  .col-xs-push-2, .col-sm-push-2, .col-md-push-2, .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-xs-push-1, .col-sm-push-1, .col-md-push-1, .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-xs-push-0, .col-sm-push-0, .col-md-push-0, .col-lg-push-0 {
    left: auto;
  }
  .col-xs-offset-12, .col-sm-offset-12, .col-md-offset-12, .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-xs-offset-11, .col-sm-offset-11, .col-md-offset-11, .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-xs-offset-10, .col-sm-offset-10, .col-md-offset-10, .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-xs-offset-9, .col-sm-offset-9, .col-md-offset-9, .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-xs-offset-8, .col-sm-offset-8, .col-md-offset-8, .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-xs-offset-7, .col-sm-offset-7, .col-md-offset-7, .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-xs-offset-6, .col-sm-offset-6, .col-md-offset-6, .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-xs-offset-5, .col-sm-offset-5, .col-md-offset-5, .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-xs-offset-4, .col-sm-offset-4, .col-md-offset-4, .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-xs-offset-3, .col-sm-offset-3, .col-md-offset-3, .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-xs-offset-2, .col-sm-offset-2, .col-md-offset-2, .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-xs-offset-1, .col-sm-offset-1, .col-md-offset-1, .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-xs-offset-0, .col-sm-offset-0, .col-md-offset-0, .col-lg-offset-0 {
    margin-left: 0;
  }
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
  -webkit-animation: ngdialog-flyin .5s;
  animation: ngdialog-flyin .5s;
  background: #f0f0f0;
  border-radius: 5px;
  color: #444;
  font-family: 'Helvetica', sans-serif;
  font-size: 1.1em;
  line-height: 1.5em;
  margin: 0 auto;
  max-width: 100%;
  padding: 1em;
  position: relative;
  top: -130px;
  max-height: 570px !important;
  width: 800px !important;
}

#printThisElement {
  h1 {
    font-size: 20px;
    line-height: 30px;
    width: 100%;
  }
  .site-title {
    font-size: 20px;
    line-height: 30px;
  }
}



