<!-- Page wrapper start -->
<div class="page-wrapper">
    <!-- Page wrapper header start -->
    <header class="page-wrapper-header">
        <!--<div class="container">-->
        <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-4">
                <div class="site-logo clearfix"><a href="javascript:void(0)"><img src="/images/logo.png"
                                                                                  alt="Prysmian Group"></a></div>
            </div>
            <div class="col-sm-6">
                <div class="site-title clearfix">Maintenance Work Order Application</div>
            </div>
            <div class="col-sm-1">
                    <span class="text-right" style="position: absolute; right: 5px; cursor: pointer; z-index: 999">
                        <a class="btn" ng-click="Logout()">
                            <img src="/images/logout.png" alt="logout">
                        </a>
                    </span>
            </div>
        </div>
        <!--</div>-->
    </header>
    <!-- Page wrapper header end -->
    <!-- Page wrapper container start -->
    <div class="page-wrapper-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Main container start -->
                    <div class="main-container clearfix">
                        <div class="col-sm-12 text-right"><a ng-click="redirectBack('dashboard')"
                                                             class="btn btn-primary">Back</a></div>
                        <h1>Parts List / Parts Request</h1>
                        <!-- Parts list search form start -->
                        <form class="form-inline clearfix text-right">
                            <div class="form-group">
                                <label>Equipment:</label>
                                <select class="form-control" ng-model="equipment_number">
                                    <option ng-repeat="equipment in equipments" value="{{equipment.equipment_number}}">
                                        {{equipment.equipment_name}}
                                    </option>
                                </select>
                            </div>
                        </form>
                        <!-- Parts list search  form end -->
                        <hr>
                        <!-- Parts list table start -->
                        <div class="clearfix">
                            <table class="table table-bordered table-striped parts-list-table">
                                <thead>
                                <tr>
                                    <th>Part #</th>
                                    <th>Description</th>
                                    <th>Vendor Name</th>
                                    <th>Vendor Number</th>
                                    <th>Min</th>
                                    <th>Max</th>
                                    <th style="width: 100px;">Qty</th>
                                    <th style="width: 100px;">Work Order</th>
                                    <th style="width: 200px;"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="part in parts">
                                    <td>{{part.material_number}}</td>
                                    <td>{{part.material_description}}</td>
                                    <td>{{part.vendor_name}}</td>
                                    <td>{{part.vendor_number}}</td>
                                    <td>{{part.min_qty}}</td>
                                    <td>{{part.max_qty}}</td>
                                    <td><input type="number" class="form-control" min="{{part.min_qty}}" required
                                               max="{{part.max_qty}}"
                                               ng-model="p.qty[part.material_number+part.vendor_number]"></td>
                                    <td><input type="text" class="form-control"
                                               ng-model="p.workorder[part.material_number+part.vendor_number]"></td>
                                    <td>
                                        <button type="button" class="btn btn-primary" ng-disabled="disableSubmit"
                                                ng-click="createPartRequest(part)">Create PR
                                        </button>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- Parts list table end -->
                    </div>
                    <!-- Main container end -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page wrapper container end -->
    <!-- Page wrapper footer start -->
    <footer class="page-wrapper-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="site-copy-rights clearfix">&copy; <!--<script>var d = new Date(); document.write(d.getFullYear());</script>--> Prysmian Group. All Rights Reserved.</div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Page wrapper footer end -->
</div>
<!-- Page wrapper end -->
