<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Prysmian Group - Maintenance Work Order Application</title>
</head>
<body style="max-width:100%; margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; line-height: 24px; color: #565656;">

<div style="background: url({{url}}/images/pattern1.png) repeat scroll center center #F0F0F0; border-bottom: 1px solid #D4D4D4;">
    <div style="float: left; padding: 10px 15px;"><img src="{{url}}/images/logo.png" alt="Prysmian Group"
                                                       style="max-width: 100%; display: block;"></div>
    <div style="float: right; padding: 15px 15px; font-family: Georgia; font-size: 20px; font-weight: bold; line-height: 34px;"></div>
    <div style="clear: both;"></div>
</div>

<div style="padding: 30px 15px 15px 15px;">
    <h1 style="margin: 0 0 15px 0; padding: 0; font-family: Georgia; font-size: 24px; font-weight: bold; line-height: 34px; text-align: center;">
        Closed Work Order report</h1>
    <h3 style="margin: 0 0 15px 0; padding: 0; font-family: Georgia; font-size: 12px; font-weight: bold; line-height: 24px; text-align: center;">
        {{search.from}} - {{search.to}}</h3>
    <table width="100%" cellspacing="0" cellpadding="10" style="margin: 0 0 15px 0; border: 1px solid #D4D4D4;">
        <thead>
        <tr style="background-color: #E5E5E5">
            <th style="border: 1px solid #D4D4D4; text-align: left; word-wrap: break-word">WorkOrder</th>
            <th style="border: 1px solid #D4D4D4; text-align: left; word-wrap: break-word">Data Completed</th>
            <th style="border: 1px solid #D4D4D4; text-align: left; word-wrap: break-word">Equipment</th>
            <th style="border: 1px solid #D4D4D4; text-align: left; word-wrap: break-word">Description</th>
        </tr>
        </thead>
        <tbody>
        {% for item in data %}
        <tr style="background-color: #F6F6F6">
            <td style="border: 1px solid #D4D4D4; text-align: left;">{{item.workorder_number}}</td>
            <td style="border: 1px solid #D4D4D4; text-align: left;">{{item.wo_datecomplete}}</td>
            <td style="border: 1px solid #D4D4D4; text-align: left;">{{item.workorder_equipment}}</td>
            <td style="border: 1px solid #D4D4D4; text-align: left;">{{item.workorder_description}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div style="clear: both;"></div>
</div>
<script src="{{url}}/bower-components/moment/moment.js"></script>

</body>
</html>