<!-- Page wrapper start -->
<div class="page-wrapper">
    <!-- Page wrapper header start -->
    <header class="page-wrapper-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="site-logo clearfix"><a ng-click="redirectLoc('dashboard')"><img
                            ng-click="redirectLoc('dashboard')" src="/images/logo.png" alt="Prysmian Group"></a></div>
                </div>
                <div class="col-sm-8">
                    <div class="site-title clearfix">Maintenance Work Order Application</div>
                </div>
            </div>
        </div>
    </header>
    <span class="text-right" style="position: absolute; right: 5px; cursor: pointer; z-index: 999"><a class="btn" ng-click="Logout()">logout</a></span>
    <!-- Page wrapper header end -->
    <!-- Page wrapper container start -->
    <div class="page-wrapper-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Main container start -->
                    <div class="main-container clearfix">
                        <div class="col-sm-12 text-right"><a ng-click="redirectLoc('dashboard')"
                                                             class="btn btn-primary">Back</a></div>
                        <h1>Change Password</h1>
                        <!-- Change password form start -->
                        <form class="form-horizontal clearfix" name="ChangePasswordForm">
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-4">
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Current Password:</label>
                                        <div class="col-sm-6">
                                            <input type="password" ng-model="user.p_password" name="p_password" class="form-control" equal-password required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">New Password:</label>
                                        <div class="col-sm-6">
                                            <input type="password"  ng-model="user.password" name="password" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Confirm New Password:</label>
                                        <div class="col-sm-6">
                                            <input type="password" ng-model="user.c_password" name="c_password" class="form-control" password-match="user.password" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center clearfix">
                                <p>
                                    <button type="submit" class="btn btn-primary"  ng-click="ChangePassword()" ng-disabled="ChangePasswordForm.p_password.$dirty && ChangePasswordForm.p_password.$invalid ||
  ChangePasswordForm.password.$dirty && ChangePasswordForm.password.$invalid ||
  ChangePasswordForm.c_password.$dirty && ChangePasswordForm.c_password.$invalid">Save</button>
                                    <button type="reset" class="btn btn-primary">Clear</button>
                                </p>
                            </div>
                        </form>
                        <!-- Change password form end -->
                    </div>
                    <!-- Main container end -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page wrapper container end -->
    <!-- Page wrapper footer start -->
    <footer class="page-wrapper-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="site-copy-rights clearfix">&copy; 2016 Prysmian Group. All Rights Reserved.</div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Page wrapper footer end -->
</div>
<!-- Page wrapper end -->